@media (max-width:1599px){
    .login-form .l-form{
       width: 30%;
    }
    .left-content .top-detail-table{
        width: 100%;
    }
    .top-search .search-icon input{
        width: 300px;
    }
    /* login-3 page */
    .login-3 .all-operator{
        width: 100%;
    }
    .all-operator .operator-box .operator-connect ul li {
        margin-right: 10px;
    }
    .all-operator .operator-box .request-reject-button ul li a.btn,
    .ad-hotal-desc .request-reject-button ul li a.btn{
        min-width: 180px;
    }
    .ad-hotal-offer .ad-hotal-cont .ad-hotal-desc:first-child{
        max-width: 50%;
        flex: 0 0 50%;
    }
    .ad-hotal-offer .ad-hotal-cont .ad-hotal-desc:nth-child(2){
        max-width: 25%;
        flex: 0 0 25%;
    }
    .ad-hotal-offer .ad-hotal-cont .ad-hotal-desc .ad-hotal-info h6{
        font-size: 20px;
    }
    .ad-hotal-offer .ad-hotal-cont .ad-hotal-desc .ad-hotal-info p{
        font-size: 18px;
        line-height: 24px;
    }
    .ad-hotal-offer .ad-hotal-cont .ad-hotal-desc .adver-site h6{
        font-size: 20px;
    }
    .top-sec .top-sec-desc:first-child{
        max-width: 5%;
        flex:0 0 5%;
    }
    .top-sec .top-sec-desc:nth-child(2){
        max-width: 75%;
        flex: 0 0 75%;
    }
    .custome-t .table th, .custome-t .table td{
        font-size: 14px;
    }
    .custome-t .table td .t-round-color{
        margin-left: 5px;
    }
    .top-s-cont .s-link a{
        font-size: 20px;
    }
    .right-detail .r-price h2{
        font-size: 30px;
    }
    .right-detail h4.r-title{
        font-size: 18px;
    }
    .right-detail .r-price .mon-icon i{
        font-size: 30px;
    }
    .right-side-slider .r-in-sub .r-time{
        padding-right: 0px;
    }
    /* settings tab css */
    .personal-data-cont .personal-data-desc h6.per-data-title{
        font-size: 24px;
    }
    .list-of-supervisors .list-of-title,
    .settings-option-desc .settings-side-link ul li a{
        font-size: 18px;
    }   
}

/* for ipad-pro */
@media (max-width: 1199px){

    .container{
        max-width: 100%;
    }
    .login-bg .lo-title{
        top: 20px;
        right: 20px;
    }
    .login-bg .lo-title h4 {
        font-size: 70px;
        line-height: 94px;
    }
    .login-bg .lo-title p{
        font-size: 28px;
        line-height: 37px;
    }
    .l-form{
        width: 100%;
    }
    .login-bg .copy-right{
        bottom: 20px;
        left: 20px;
    }
    .login-bg .copy-right a.cp-link {
        font-size: 18px;
        line-height: 24px;
    }
    .logo img{
        max-width: 140px;
    }
    .l-form .l-form-title h4 {
        font-size: 26px;
        line-height: 34px;
    }
    .l-form .fl-pw a{
        font-size: 18px;
    }
    .login-detail .login-cont:last-child{
        padding: 0 15px;
    }
    .top-sec .top-sec-desc .app-logo img{
        max-width: 130px;
    }
    /*top search*/
    .top-search{
        padding:20px 0px;
    }
    .top-search .search-icon input{
        width: 250px;
    }
    .top-sec .top-sec-desc:first-child{
        max-width: 5%;
        flex:0 0 5%;
    }
    .top-sec .top-sec-desc:nth-child(2){
        max-width: 75%;
        flex: 0 0 75%;
    }
    .top-sec-desc .oper-current-link{
        margin-right: 10px;
    }
    /* operator account tab css  */
    .all-operator .operator-box .operator-img,
    .all-operator .operator-box .operator-title,
    .all-operator .operator-box .operator-connect{
        margin-bottom: 15px;
    }
    /* ad-hotal-offer css */
    .ad-hotal-offer .ad-hotal-cont{
        padding: 25px 10px;
    }
    .ad-hotal-offer .ad-hotal-cont .ad-hotal-desc:first-child{
        max-width: 50%;
        flex:0 0 50%;
    }
    .ad-hotal-offer .ad-hotal-cont .ad-hotal-desc:nth-child(2){
        max-width: 25%;
        flex:0 0 25%;
    }
    .ad-hotal-offer .ad-hotal-cont .ad-hotal-desc .adver-site .adver-button a.btn{
        padding: 7px 25px;
    }
    .all-operator .operator-box .request-reject-button ul li a.btn,
    .ad-hotal-desc .request-reject-button ul li a.btn{
        min-width: 145px;
        font-size: 14px;
    }
    .ad-hotal-offer .all-operator .operator-box .request-reject-button ul li a.btn,
    .ad-hotal-offer .ad-hotal-desc .request-reject-button ul li a.btn{
        min-width: 160px;
    }
    .ad-hotal-offer .all-operator .operator-box .request-reject-button ul li a.btn,
    .ad-hotal-offer .ad-hotal-desc .request-reject-button ul li a.btn{
        min-width: 160px;
    }
    .ad-hotal-offer .ad-hotal-desc .request-reject-button ul li{
        margin-bottom: 15px;
    }
    .ad-hotal-offer .ad-hotal-desc .request-reject-button ul li:last-child{
        margin-bottom: 0px;
    }
    .ad-hotal-offer .ad-hotal-cont .ad-hotal-desc .ad-hotal-img{
        padding-left: 20px;
    }
    .ad-hotal-offer .ad-hotal-cont .ad-hotal-desc .ad-hotal-info h6,
    .ad-hotal-offer .ad-hotal-cont .ad-hotal-desc .adver-site h6{
        font-size: 18px;
    }
    .ad-hotal-offer .ad-hotal-cont .ad-hotal-desc .ad-hotal-info p,
    .ad-hotal-offer .ad-hotal-cont .ad-hotal-desc .ad-hotal-info span{
        font-size: 16px;
    }
    .ad-hotal-offer .ad-hotal-cont .ad-hotal-desc .adver-site span.h-p{
        margin-bottom: 10px;
        font-size: 16px;
    }
    .ad-hotal-desc .request-reject-button ul li{
        margin-bottom: 15px;
    }
    .ad-hotal-desc .request-reject-button ul li.edit-modify-button a.edit-modify-btn{
        padding:8px 20px;
    }
    .ad-hotal-desc .request-reject-button ul li span.date-info{
        font-size: 14px;
    }
    .ad-hotal-desc .request-reject-button ul li{
        margin-bottom: 20px;
    }
    /* left-content */
    .left-content .top-detail-table,
    .pagination-style{
        width: 100%;
    }
    /* table css */
    .custome-t .table{
        width: 900px;
        overflow-x: auto;
    }
    /* reports tab css */
    .reports-cont .latest-reser{
        padding: 15px 15px
    }
    .latest-reser .l-r-title h6,
    .advertis-progress-bar h6{
        font-size: 18px;
    }
    .advertis-progress-bar .advertis-prog-cont .advertis-prog-desc{
        max-width: 100%;
        flex: 0 0 100%;
    }
    .advertis-progress-bar .advertis-prog-cont .advertis-prog-desc:last-child{
        max-width: 100%;
        flex: 0 0 100%;
        order: -1;
        margin-bottom: 10px;
    }
    /* settings tab css */
    .personal-data-cont .personal-data-desc h6.per-data-title{
        font-size: 20px;
    }
    .personal-data-cont .personal-data-desc:nth-child(6){
        margin-bottom: 25px;
    }
    .settings-option-desc .personal-data-cont{
        padding: 25px 15px;
    }
    .all-operator .operator-box .operator-title h6{
        font-size: 18px;
    }
    .app-section{
        max-width: 40%;
        flex: 0 0 40%;
    }
}

/* for ipad */
@media (max-width: 991px){
    .login-form .l-form{
        width: 50%;
    }
    .login-bg .lo-title h4 {
        font-size: 55px;
        line-height: 75px;
    }
    .login-bg .lo-title p {
        font-size: 24px;
        line-height: 32px;
    }
    .top-sec .top-sec-desc .app-logo img{
        max-width: 120px;
    }
    .top-search .s-plus a span.plus-icon{
        font-size: 13px;
    }
    .top-search{
        padding: 20px 0px;
    }
    .top-search .top-s-cont{
        display: block;
    }
    .top-s-cont .s-link{
        text-align: center;
        margin-bottom: 15px;
    }
    .top-s-cont .s-link a{
        font-size: 16px;
    }
    .top-search .s-plus a{
        font-size: 14px;
    }
    /* right side tab css */
    .right-tab-desc ul.side-table-tab li a.nav-link{
        padding: 15px 0px;
    }

    /* top search */
    .top-search .alt-deatil .alt-desc p{
        font-size: 14px;
    }
    /* ad-hotal-offer tab css */
    .ad-hotal-offer .ad-hotal-cont .ad-hotal-desc:first-child{
        max-width: 100%;
        flex: 0 0 100%;
        border-left: none;
        margin-bottom: 20px;
    }
    .ad-hotal-offer .ad-hotal-cont .ad-hotal-desc:nth-child(2){
        max-width: 50%;
        flex: 0 0 50%;
    }
    .ad-hotal-offer .ad-hotal-cont .ad-hotal-desc .ad-hotal-info h6,
    .ad-hotal-offer .ad-hotal-cont .ad-hotal-desc .adver-site h6{
        font-size: 16px;
    }
 
    /* operator account css */
    .all-operator .operator-box .operator-title h6{
        font-size: 16px;
    }
    .all-operator .operator-box{
        padding:20px 20px;
    }
    .all-operator .all-operator-cont .all-operator-desc:nth-child(6),
    .all-operator .all-operator-cont .all-operator-desc:nth-child(5){
        margin-bottom: 30px;
    }

    /* settings tab css */ 
    .list-of-supervisors,
    .settings-option-desc .settings-side-link ul li a{
        padding:15px 0px;
    }
    .list-of-supervisors .list-of-title,
    .settings-option-desc .settings-side-link ul li a{
        font-size: 16px;
    }
     .personal-data-cont .personal-data-desc:first-child{
        margin-bottom: 20px;
    }
    /* ad-offer tab css */
    .top-detail-table .adver-form{
        padding:25px 10px;
    }
    .adver-form .adver-form-cont .adver-form-desc:nth-child(6){
        margin-bottom:20px;
    }
    .adver-form-cont .adver-form-desc .adver-input-box input{
        padding:10px 40px;
    }
    .adver-form-cont .adver-form-desc .exte-cancel-button a.btn{
        font-size: 16px;
    }
    .adver-form-cont .adver-form-desc .adver-input-box .adver-tag{
        right: 15px;
    }
    .adver-form-cont .adver-form-desc .adver-textarea textarea{
        padding:15px 20px;
    }
    .adver-form-cont .adver-form-desc .adver-input-box .adver-site-arrow{
        left: 15px;
    }
    .adver-form-cont .adver-form-desc .adver-input-box .adver-tag i,
    .adver-form-cont .adver-form-desc .adver-input-box .adver-site-arrow i{
        font-size: 16px;
    }
    /*current-ads css*/
    .ad-hotal-desc .request-reject-button ul li.edit-modify-button a.edit-modify-btn{
        padding: 8px 30px;
    }
    /* reports tab css */
    .latest-reser .l-r-title h6,
    .advertis-progress-bar h6{
        font-size: 16px;
    }
    .advertis-progress-bar .advertis-prog-cont .advertis-prog-desc{
        max-width: 60%;
        flex:0 0 60%;
    }
    .advertis-progress-bar .advertis-prog-cont .advertis-prog-desc:last-child{
        max-width: 40%;
        flex:0 0 40%;
        order: inherit;
        margin-bottom: 0px;
    }
    .reports-cont-main .reports-cont-desc:first-child{
        order: 1;
        margin-top:30px;
    }
    /*setting tab css*/
    .personal-data-cont .personal-data-desc h6.per-data-title{
        font-size: 18px;
    }
    .settings-option-desc .personal-data-cont{
        padding: 25px 0px;
    }
    .list-of-supervisors,
    .settings-option-desc .settings-side-link ul li a{
        padding: 10px 0px;
    }
    .add-supervisor{
        padding:15px 0px;
    }
    .personal-data-cont .personal-data-desc .personal-input-box input{
        padding: 10px 50px;
    }
    .personal-data-cont .personal-data-desc .personal-input-box .personal-icon{
        font-size: 16px;
    }
    .personal-data-cont .personal-data-desc:nth-child(6){
        margin-bottom: 20px;
    }
    .powers-check-box ul li span.ch-title{
        font-size: 14px;
    }
    .personal-data-cont .personal-button a.btn{
        font-size: 16px;
    }
    .settings-option .settings-option-desc{
        margin-bottom: 30px;
    }
    .settings-option .settings-option-desc:last-child{
        margin-bottom: 0px;
    }
    .settings-option-desc .settings-side-link,
    .settings-option-desc .add-supervisor{
        width: 60%;
    }
    /* check box css */
    .ch-box .checkmark{
        width: 23px;
        height: 23px;
        border-radius: 5px;
    }
    .ch-box .custom-box .checkmark:after{
        top:4px;
    }
    /* responsive toggle */
    .top-search-option .top-sec .top-sec-desc:nth-child(2){
        display: flex;
    }
    .side-menu.navbar-collapse{
        position: absolute;
    }
    .top-search .s-plus{
        margin-right: 8px;
    }
    .top-sec-desc .side-menu.navbar-collapse.active{
        left: 0px;
    }
    .top-sec-desc button.navbar-toggler{
        padding: 8px 10px;
        background-color: #fff;
        border: 1px solid #E6E6E6;
        border-radius: 5px;
        outline: none;
        margin-right: 10px;
        display: block;
    }
    .top-sec-desc button.navbar-toggler span.icon{
        position: relative;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .top-sec-desc button.navbar-toggler span.icon,
    .top-sec-desc button.navbar-toggler span.icon::before,
    .top-sec-desc button.navbar-toggler span.icon::after{
        display: block;
        width: 20px;
        height: 3px;
        background-color: #FF366B;
        border-radius: 5px;
        transition-duration: .25s;
    }
    .top-sec-desc button.navbar-toggler span.icon::before,
    .top-sec-desc button.navbar-toggler span.icon::after{
        content: "";
        position: absolute;
    }
    .top-sec-desc button.navbar-toggler span.icon::before{
        top: 7px;
    }
    .top-sec-desc button.navbar-toggler span.icon::after{
        top: -7px;
    }
    .top-sec-desc button.navbar-toggler.active span.icon{
        background-color: transparent;
    }
    .top-sec-desc button.navbar-toggler.active span.icon::before{
        transform: translateY(-7px) rotate(-45deg);
    }
    .top-sec-desc button.navbar-toggler.active span.icon::after{
        transform: translateY(7px) rotate(45deg);
    }
    .top-sec-desc .navbar-collapse{
        position: absolute;
        left: -250px;
        right: 0;
        top: 58px;
        background-color: #fff;
        margin: 0 -38px;
        transform: translateY(15px);
        z-index: 2;
        width: 250px;
        height: 100vh;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }
    .top-sec-desc .navbar-collapse .oper-current-link a{
        border-left: none;
        margin-left: 0px;
        display: block;
        padding:0 15px;
        padding: 0 15px 5px;
        border-bottom: 1px solid #E6E6E6;
    }
    .top-sec-desc .navbar-collapse .oper-current-link a:last-child{
        border-bottom: none;
    }
    .all-operator .operator-box .request-reject-button ul li a.btn,
    .ad-hotal-desc .request-reject-button ul li a.btn{
        min-width: 180px;
    }
    /* operator-acc-form css */
    .operator-acc-form{
        padding: 25px 20px;
    }
    .operator-acc-form .exte-cancel-btn a.btn,
    .customer-acc-form .exte-cancel-btn a.btn{
        font-size: 16px;
    }
    /*all page app-section css */ 
    .app-section{
        max-width: 100%;
        flex: 0 0 100%;
    }
    .bottom-tab-style{
        width: 100%;
    }
}
/* for iphone */
@media (max-width: 767px){
    .l-form .l-form-logo{
        margin-bottom: 20px;   
    }
    .login-form .l-form {
        width: 100%;
        padding:0px 15px;
    }
    .login-form .l-form-logo img{
        max-width: 180px;
    }
    .login-form .copy-right-section a {
        font-size: 16px;
        line-height: 20px;
    }
    .l-form .l-form-title h4 {
        font-size: 22px;
        line-height: 28px;
    }
    .left-content{
        padding-right: 15px;
    }
    .top-search{
        padding: 15px 0px;
    }
    .top-sec .top-sec-desc:last-child{
        max-width: 85%;
        flex:0 0 85%;
    }
    .top-sec .top-sec-desc:first-child{
        max-width: 15%;
        flex:0 0 15%;
    }
    .top-sec .top-sec-desc:nth-child(2){
        order: 1;
        max-width: 100%;
        flex: 0 0 100%;
        margin-top:15px;
    }
    .top-header .main-header-menu .navbar .m-logo img{
        max-width: 105px;
    }
    .top-search .search-icon input{
        width: 100%;
    }
    .top-search.top-search-option .s-plus{
        margin-bottom: 0px;
    }
    .top-search .s-plus {
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0px;
        padding: 8px 15px;
    }
    .top-search .top-s-cont .form-group{
        width: 100%;
    }
    .top-search-option .top-sec-desc .form-group{
        justify-content: flex-end;
    }
    .top-search .s-plus a{
        margin-right: 0px;
    }
    .top-search .s-plus a span.plus-icon{
        margin-left: 5px;
    }
    /* pagination-style */
    .pagination-style .pagination ul li{
        margin-right: 20px;
    }
    .right-tab-cont{
        order:-1;
        padding-left: 0px;
    }
    .top-sec-desc .navbar-collapse{
        margin:0px 0px;
        top: 35px;
    }
    .top-sec-desc .oper-current-link a{
        font-size: 14px;
    }
    .top-search-option .search-icon{
        display: none;
    }
    .top-search.top-search-option .s-plus{
        display: inherit;
    }
    .right-tab-desc ul.side-table-tab li a.nav-link .tab-icon{
        font-size: 18px;
    }
    .right-tab-desc ul.side-table-tab li a.nav-link{
        font-size: 14px;
    }
    /* customer-account tab css */
    .personal-data-cont .personal-data-desc .personal-input-box input{
        padding: 8px 40px;
    }
    .personal-data-cont .personal-data-desc .personal-input-box .personal-icon{
        right: 15px;
    }
    .customer-acc-form{
        padding: 20px 15px; 
    }
    .personal-data-cont .personal-data-desc .personal-input-box .personal-icon{
        font-size: 14px;
    }
    .customer-acc-form .exte-cancel-btn a.btn{
        display: block;
        margin-left: 0px;
        margin-bottom: 15px;
    }
    .customer-acc-form .exte-cancel-btn a.btn:last-child{
        display: block;
        margin-bottom: 0px;
    }
    /*operator-acc css*/ 
    .all-operator .all-operator-cont .all-operator-desc{
        margin-bottom: 20px;
    }
    .all-operator .all-operator-cont .all-operator-desc:nth-child(5),
    .all-operator .all-operator-cont .all-operator-desc:nth-child(6),
    .all-operator .all-operator-cont .all-operator-desc:nth-child(7){
        margin-bottom: 20px;
    }
    .operator-acc-form{
        padding: 20px 15px;
    }
    .operator-acc-form .exte-cancel-btn a.btn{
        display: block;
        margin-left: 0px;
        margin-bottom: 15px;
    }
    .operator-acc-form .exte-cancel-btn a.btn:last-child{
        margin-bottom: 0px;
    }
    /*adver-offer tab css*/
    .ad-hotal-offer .ad-hotal-cont{
        padding:20px 0;
    } 
    .ad-hotal-offer .ad-hotal-cont .ad-hotal-desc:first-child{
        display: block;
        margin-bottom: 15px;
    }
    .ad-hotal-offer .ad-hotal-cont .ad-hotal-desc .ad-hotal-img{
        padding-left: 0px;
        margin-bottom: 15px;
    }
    .ad-hotal-offer .ad-hotal-cont .ad-hotal-desc .ad-hotal-img img{
        width: 100%;
    }
    .ad-hotal-offer .ad-hotal-cont .ad-hotal-desc:nth-child(2){
        border-left: none;
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 15px;
    }
    .ad-hotal-offer .ad-hotal-cont .ad-hotal-desc .ad-hotal-info{
        padding-bottom: 15px;
        border-bottom: 2px solid #d0cece;
    }
    .ad-hotal-offer .ad-hotal-cont .ad-hotal-desc .adver-site{
        width: 100%;
        padding-bottom: 15px;
        border-bottom: 2px solid #d0cece;
    }
    .ad-hotal-desc .request-reject-button ul li{
        margin-bottom: 15px;
    }
    .ad-hotal-offer .ad-hotal-cont .ad-hotal-desc .ad-hotal-info p{
        font-size: 14px;
        line-height: 21px;
    }
    .ad-hotal-offer .ad-hotal-cont{
        margin-bottom: 20px;
        border-radius: 10px;
    }
    .top-detail-table .adver-form{
        padding:20px 0px;
    }

    /* adver-form css */
    .adver-form-cont .adver-form-desc .adver-input-box .adver-tag i,
    .adver-form-cont .adver-form-desc .adver-input-box .adver-site-arrow i{
        font-size: 14px;
    }
    .adver-form-cont .adver-form-desc .adver-textarea textarea{
        border-radius: 10px;
        padding:15px 15px;
        font-size: 13px;
        height: 100px;
    }
    .adver-form .adver-form-cont .adver-form-desc,
    .adver-form .exte-cancel-button .exte-cancel-btn,
    .adver-form .adver-form-cont .adver-form-desc:nth-child(6){
        margin-bottom: 15px;
    }
    .adver-form .exte-cancel-button .exte-cancel-btn:last-child{
        margin-bottom: 0px;
    }
    .current-ads .ad-hotal-offer .ad-hotal-desc .request-reject-button ul li a.btn{
        min-width: 195px;
    }
    /* reports tab css */
    .latest-reser .lr-pdf-icon a.btn{
        padding: 5px 11px;
    }
    .reports-cont .latest-reser{
        padding: 10px 15px;
    }
    .advertis-progress-bar .advertis-prog-cont .advertis-prog-desc:last-child {
        max-width: 100%;
        flex: 0 0 100%;
        order: -1;
        margin-bottom: 10px;
    }
    .advertis-progress-bar .advertis-prog-cont .advertis-prog-desc{
        max-width: 100%;
        flex: 0 0 100%;
    }
    .advertis-progress-bar .pagination-style-2{
        padding: 15px 0px 0px 0px;
    }
    .pagination-style-2 .pagination ul li a{
        border:2px solid #EBEBEB;
    }
    /* setting tab css */
    .settings-option .settings-option-desc{
        margin-bottom: 20px;
    }
    .personal-data-cont .personal-data-desc h6.per-data-title{
        font-size: 16px;
    }
    .personal-data-cont .personal-data-desc:first-child,
    .personal-data-cont .personal-data-desc,
    .personal-data-cont .personal-data-desc:nth-child(6){
        margin-bottom: 15px;
    }
    .settings-option-desc .personal-data-cont{
        padding: 20px 0px;
    }
    .personal-data-cont .personal-data-desc .powers-check-box ul{
        display: block;
    }
    .personal-data-cont .personal-data-desc .powers-check-box ul li{
        width: 100%;
        margin-bottom: 5px;
    }
    .personal-data-cont .personal-data-desc .powers-check-box ul li:last-child{
        margin-bottom: 0px;
    }
    .personal-data-cont .personal-button a.btn.cancel-btn{
        display: block;
        margin-bottom: 0px;
    }
    .personal-data-cont .personal-button a.btn{
        display: block;
        margin-left: 0px;
        margin-bottom:15px;
    }
    .settings-option-desc .settings-side-link,
    .settings-option-desc .add-supervisor{
        width: 100%;
    }
    .settings-option-desc .settings-side-link{
        margin-bottom: 20px;
    }
    .list-of-supervisors .list-of-title,
    .settings-option-desc .settings-side-link ul li a{
        font-size: 14px;
    }
    .ad-hotal-offer .ad-hotal-desc .request-reject-button ul li{
        display: block;
    }
    /*all page app-section css */ 
    .app-sec-logo img{
        max-width: 200px;
    }
    .app-section {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .client4 .app-section .app-login{
        height: 100%;
    }
    .app-section .app-login{
        height: auto;
    }
    .app-login-inner-sec{
        padding: 30px 30px;
    }
    .pictures-grid ul li .dist-sub .dist-img{
        width: 50%;
    }
    .all-day-name .day-name,
    .time-duration ul li{
        margin-left: 10px;
        text-align: center;
    }
    .time-duration ul li .times.active{
        padding: 3px 6px;
    }
    .booked-section .booked-check{
        width: 80%;
    }
    .booked-section{
        padding: 30px 30px 100px 30px;
    }
    .booked-page .fullscreen{  
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* client page css */
    .you-have-acc a.have-acc-link::before,
    .you-have-acc a.have-acc-link::after{
        width: 100px;
    }
    .setting-time-w .ch-box .custom-box .checkmark:after{
        top: 4px;
        left: 9px;
    }
    .client-times-w .times-w-cont .times-from{
        display: flex;
    }
    .client-times-w .times-w-cont .arrow-set::after{
        top: 8px;
    }
}
/* for small phones */
@media only screen and (max-width: 320px){
    .find-places-detail .find-place-cont h6.fp-c-title{
        font-size: 16px;
    }
    .find-places-detail .find-img{
        margin-left: 10px;
    }
    .diamond-icon{
        padding:3px 8px;
    }
    .booking-date-sec .month-year-link,
    .time-duration{
        padding:20px 10px;
    }
    .reserv-service-section,
    .setting-time-w{
        padding: 30px 15px 100px 15px;
    }
    .setting-time-w .setting-w-link ul li{
        margin-left: 5px;
    }
    .all-day-name .day-name,
    .time-duration ul li{
        margin-left: 8px;
    }
    .forgot-pass a{
        font-size: 13px;
    }
    /* client page css */
    .register-now-desc{
        width: 80%;
    }
    .you-have-acc a.have-acc-link::before,
    .you-have-acc a.have-acc-link::after{
        width: 80px;
    }
    .client-times-w .times-w-cont .times-from{
        display: block;
    }
    .client4 .client-bg-gradient{
        height: auto;
    }
    .client-times-w .times-w-cont .times-from .from-title{
        margin-left: 0px;
        margin-bottom: 5px;
        display: inline-block;
    }
}
